# marimo
__marimo__/
!notebooks/__marimo__/
!notebooks/__marimo__/session/
!notebooks/__marimo__/session/*.json

# Python
__pycache__/
*.py[cod]
*.egg-info/

# uv / venv
.venv/
.direnv/

# OS
.DS_Store
